<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme.title }}" />
	<meta property="og:site_name" content="{{ site.title | escape }}" />
	<meta property="og:type" content="{% if page.opengraph_type %}{{ page.opengraph_type }}{% else if site.opengraph_type %}{{ site.opengraph_type }}{% else %}website{% endif %}" />
	
	{% if page.excerpt or site.description %}
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncatewords: 60 }}{% else %}{{ site.description }}{% endif %}" />
	{% endif %}
	
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
	
	{% if site.facebook_app_id %}
	<meta property="fb:app_id" content="{{ site.facebook_app_id }}" />
	{% endif %}
	
	<meta name="twitter:card" content="summary" />
	
	{% if site.author.twitter %}
	<meta name="twitter:site" content="{{ site.author.twitter }}" />
	{% endif %}
	
	{% if page.author.twitter or site.author.twitter %}
	<meta name="twitter:creator" content="{% if page.twitter %}{{ page.author.twitter }}{% else %}{{site.author.twitter }}{% endif %}" />
	{% endif %}
	
	{% if page.author.google or site.author.google %}
	<link rel=”author” href="https://plus.google.com/{% if page.author.google %}{{ page.author.google }}{% else %}{{ site.author.google }}{% endif %}"/>
	{% endif %}
	
	{% if page.determiner %}
	<meta property="og:determiner" content="{{ page.determiner }}" />
	{% endif %}
	
	{% if site.locales %}
		{% assign locale_i = 0 %}
		{% for locale in site.locales %}
			<meta property="og:locale{% if locale_i != 0 %}:alternate{% endif %}" content="{{ locale }}" />
			{% assign locale_i = locale_i | plus: 1 %}
	  	{% endfor %}
	{% endif %}
	
	{% if page.image.src %}
		<!-- Open Graph Image -->

		<meta property="og:image" content="{{ site.url | replace:'https','http' }}{{ page.image.src }}" />
		<meta property="og:image:secure_url" content="{{ site.url | replace:'http://','https://' }}{{ page.image.src }}" />

		{% if page.image.type %}
		<meta property="og:image:type" content="{{ page.image.type }}" />
		{% endif %}

		{% if page.image.height %}
		<meta property="og:image:height" content="{{ page.image.height }}" />
		{% endif %}

		{% if page.image.width %}
		<meta property="og:image:width" content="{{ page.image.width }}" />
		{% endif %}

	{% elsif site.image.src %}
		<!-- Open Graph Image -->

		<meta property="og:image" content="{{ site.url | replace:'https','http' }}{{ site.image.src }}" />
		<meta property="og:image:secure_url" content="{{ site.url | replace:'http://','https://' }}{{ site.image.src }}" />

		{% if site.image.type %}
		<meta property="og:image:type" content="{{ site.image.type }}" />
		{% endif %}

		{% if site.image.height %}
		<meta property="og:image:height" content="{{ site.image.height }}" />
		{% endif %}

		{% if site.image.width %}
		<meta property="og:image:width" content="{{ site.image.width }}" />
		{% endif %}
	
	{% endif %}

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

	<!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

	<!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Google Fonts -->
	{% if site.theme.google_fonts %}
	<link href="//fonts.googleapis.com/css?family={{ site.theme.google_fonts }}" rel="stylesheet" type="text/css">
	{% endif %}

	<!-- KaTeX -->
	{% if site.theme.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
	{% endif %}

	<!-- Google Analytics -->
	{% if site.theme.google_analytics %}
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.theme.google_analytics }}', 'auto');
	ga('send', 'pageview');
	</script>
	{% endif %}
</head>
